data/prometheus/one/*
data/prometheus/two/*
data/compactor/*
data/minio/*
data/store/*

!data/prometheus/one/.keep
!data/prometheus/two/.keep
!data/compactor/.keep
!data/minio/.keep
!data/store/.keep

thanos/thanos
