data/prometheus/one/*
data/prometheus/two/*
data/prometheus/alertmanager/*
data/rule/*
data/compactor/*
data/minio/**/*
data/store/*

!data/minio/thanos-data-bucket
data/minio/thanos-data-bucket/*

!.keep

thanos/thanos

grafana/provisioning/dashboards/*.json
